header{
    position: absolute;
    top: 0;
    left: 0;
    
    .sideShoppingCart {
        width: 400px;
        height: 100vh;
        display: none;
        position: absolute;
        top: 0;
        right: -400px;
        z-index: 2;
        background-color: rgb(57, 62, 64);
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        transition: 0.4s;
    
        .shoppingCartTitleBox {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 30px;
            box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 3px 0px;
    
            .shoppingCartTitle {
                font-weight: 500;
            }
    
            .shoppingCartCloseBtn {
                cursor: pointer;
                font-size: 25px;
                transition: 0.3s;
    
                &:hover {
                    transform: rotate(180deg);
                }
            }
        }
    
        .shoppingCartProductBox {
            height: 500px;
            overflow: auto;
    
            .shoppingCartProduct {
                width: 100%;
                height: 200px;
                display: flex;
                padding: 25px 30px;
    
                .shoppingCartProductImg {
                    cursor: pointer;
                    width: 100px;
                    height: 135px;
                }
    
                .shoppingCartProductInfoBox {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    padding-left: 20px;
                    row-gap: 10px;
    
                    .shoppingCartProductTitleBox {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
    
                        .shoppingCartProductName {
                            font-weight: 500;
                            cursor: pointer;
                            transition: 0.4s;
    
                            &:hover {
                                color: rgb(255, 116, 45);
                            }
                        }
    
                        .shoppingCartProductDeleteBtn {
                            cursor: pointer;
                            width: 28px;
                            height: 28px;
                            background-color: rgb(27, 29, 30);
                            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                            border-radius: 20px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            transition: 0.4s;
    
                            &:hover {
                                background-color: rgb(76, 82, 85);
                            }
    
                        }
    
                    }
    
                    .shoppingCartProductPrice {
                        font-size: 25px;
                    }
    
                    .shoppingCartProductCountBox {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        width: 100%;
                        height: 100%;
    
                        .decreaseCount {
                            cursor: pointer;
                            width: 45px;
                            height: 46px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background-color: rgb(23, 25, 26);
                            border: 1px solid black;
                            border-radius: 10px 0px 0px 10px;
                            box-shadow: rgba(0, 0, 0, 0.35) 5px 5px 15px 5px;
    
                            .fa-minus {
                                font-size: 20px;
                                transition: 0.3s;
    
                                &:hover {
                                    color: #f60;
                                    transform: scale(1.3);
                                }
                            }
                        }
    
                        .shoppingCartProductCount {
                            width: 48px;
                            height: 46px;
                            text-align: center;
                            background-color: rgb(23, 25, 26);
                            border: 1px solid black;
                            box-shadow: rgba(0, 0, 0, 0.35) 5px 5px 15px 5px;
                            font-size: 17px;
                        }
    
                        .increaseCount {
                            cursor: pointer;
                            width: 45px;
                            height: 46px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background-color: rgb(23, 25, 26);
                            border: 1px solid black;
                            border-radius: 0px 10px 10px 0px;
                            box-shadow: rgba(0, 0, 0, 0.35) 5px 5px 15px 5px;
    
                            .fa-plus {
                                transition: 0.3s;
                                font-size: 20px;
    
                                &:hover {
                                    color: #f60;
                                    transform: scale(1.3);
                                }
                            }
                        }
                    }
    
                }
    
            }
        }
    
        .shoppingCartBottomBox {
            display: flex;
            flex-direction: column;
            padding: 30px;
            row-gap: 30px;
    
            .summariesBox {
                display: flex;
                justify-content: space-between;
    
    
                .summary {
                    cursor: pointer;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    row-gap: 10px;
    
                    .summaryIcon {
                        font-size: 20px;
                        transition: 0.3s;
                    }
    
                    .summaryTitle {
                        font-weight: 500;
                        font-size: 12px;
                        color: #f60;
                        transition: 0.3s;
                    }
    
                    &:hover .summaryIcon {
                        color: #f60;
                    }
    
                    &:hover .summaryTitle {
                        color: white;
                    }
                }
            }
    
            .subTotalBox {
                display: flex;
                flex-direction: column;
                row-gap: 10px;
    
                .subTotal {
                    font-weight: 500;
                    font-size: 20px;
                    display: flex;
                    justify-content: space-between;
                }
    
                .taxInfo {
                    font-size: 15px;
                }
            }
    
            .shoppingCartBottomButtons {
                display: flex;
                flex-direction: column;
                row-gap: 10px;
    
                .checkoutBtn {
                    cursor: pointer;
                    padding: 15px;
                    border: 0px;
                    background-color: #c40;
                    border-radius: 7px;
                    transition: 0.3s;
    
                    &:hover {
                        background-color: #c04000d0;
                    }
                }
    
                .viewCartBtn {
                    cursor: pointer;
                    padding: 15px;
                    border: 1px solid white;
                    background-color: transparent;
                    border-radius: 7px;
                    transition: 0.5s;
    
                    &:hover {
                        background-color: #c04000d0;
                        border: 0px;
                    }
                }
    
            }
        }
    }
}


