@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

* {
  font-family: "Readex Pro", sans-serif;
}

header {
  position: absolute;
  top: 0;
  left: 0;
}
header .sideShoppingCart {
  width: 400px;
  height: 100vh;
  display: none;
  position: absolute;
  top: 0;
  right: -400px;
  z-index: 2;
  background-color: rgb(57, 62, 64);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: 0.4s;
}
header .sideShoppingCart .shoppingCartTitleBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 3px 0px;
}
header .sideShoppingCart .shoppingCartTitleBox .shoppingCartTitle {
  font-weight: 500;
}
header .sideShoppingCart .shoppingCartTitleBox .shoppingCartCloseBtn {
  cursor: pointer;
  font-size: 25px;
  transition: 0.3s;
}
header .sideShoppingCart .shoppingCartTitleBox .shoppingCartCloseBtn:hover {
  transform: rotate(180deg);
}
header .sideShoppingCart .shoppingCartProductBox {
  height: 500px;
  overflow: auto;
}
header .sideShoppingCart .shoppingCartProductBox .shoppingCartProduct {
  width: 100%;
  height: 200px;
  display: flex;
  padding: 25px 30px;
}
header .sideShoppingCart .shoppingCartProductBox .shoppingCartProduct .shoppingCartProductImg {
  cursor: pointer;
  width: 100px;
  height: 135px;
}
header .sideShoppingCart .shoppingCartProductBox .shoppingCartProduct .shoppingCartProductInfoBox {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  row-gap: 10px;
}
header .sideShoppingCart .shoppingCartProductBox .shoppingCartProduct .shoppingCartProductInfoBox .shoppingCartProductTitleBox {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .sideShoppingCart .shoppingCartProductBox .shoppingCartProduct .shoppingCartProductInfoBox .shoppingCartProductTitleBox .shoppingCartProductName {
  font-weight: 500;
  cursor: pointer;
  transition: 0.4s;
}
header .sideShoppingCart .shoppingCartProductBox .shoppingCartProduct .shoppingCartProductInfoBox .shoppingCartProductTitleBox .shoppingCartProductName:hover {
  color: rgb(255, 116, 45);
}
header .sideShoppingCart .shoppingCartProductBox .shoppingCartProduct .shoppingCartProductInfoBox .shoppingCartProductTitleBox .shoppingCartProductDeleteBtn {
  cursor: pointer;
  width: 28px;
  height: 28px;
  background-color: rgb(27, 29, 30);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s;
}
header .sideShoppingCart .shoppingCartProductBox .shoppingCartProduct .shoppingCartProductInfoBox .shoppingCartProductTitleBox .shoppingCartProductDeleteBtn:hover {
  background-color: rgb(76, 82, 85);
}
header .sideShoppingCart .shoppingCartProductBox .shoppingCartProduct .shoppingCartProductInfoBox .shoppingCartProductPrice {
  font-size: 25px;
}
header .sideShoppingCart .shoppingCartProductBox .shoppingCartProduct .shoppingCartProductInfoBox .shoppingCartProductCountBox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
}
header .sideShoppingCart .shoppingCartProductBox .shoppingCartProduct .shoppingCartProductInfoBox .shoppingCartProductCountBox .decreaseCount {
  cursor: pointer;
  width: 45px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(23, 25, 26);
  border: 1px solid black;
  border-radius: 10px 0px 0px 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 5px 5px 15px 5px;
}
header .sideShoppingCart .shoppingCartProductBox .shoppingCartProduct .shoppingCartProductInfoBox .shoppingCartProductCountBox .decreaseCount .fa-minus {
  font-size: 20px;
  transition: 0.3s;
}
header .sideShoppingCart .shoppingCartProductBox .shoppingCartProduct .shoppingCartProductInfoBox .shoppingCartProductCountBox .decreaseCount .fa-minus:hover {
  color: #f60;
  transform: scale(1.3);
}
header .sideShoppingCart .shoppingCartProductBox .shoppingCartProduct .shoppingCartProductInfoBox .shoppingCartProductCountBox .shoppingCartProductCount {
  width: 48px;
  height: 46px;
  text-align: center;
  background-color: rgb(23, 25, 26);
  border: 1px solid black;
  box-shadow: rgba(0, 0, 0, 0.35) 5px 5px 15px 5px;
  font-size: 17px;
}
header .sideShoppingCart .shoppingCartProductBox .shoppingCartProduct .shoppingCartProductInfoBox .shoppingCartProductCountBox .increaseCount {
  cursor: pointer;
  width: 45px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(23, 25, 26);
  border: 1px solid black;
  border-radius: 0px 10px 10px 0px;
  box-shadow: rgba(0, 0, 0, 0.35) 5px 5px 15px 5px;
}
header .sideShoppingCart .shoppingCartProductBox .shoppingCartProduct .shoppingCartProductInfoBox .shoppingCartProductCountBox .increaseCount .fa-plus {
  transition: 0.3s;
  font-size: 20px;
}
header .sideShoppingCart .shoppingCartProductBox .shoppingCartProduct .shoppingCartProductInfoBox .shoppingCartProductCountBox .increaseCount .fa-plus:hover {
  color: #f60;
  transform: scale(1.3);
}
header .sideShoppingCart .shoppingCartBottomBox {
  display: flex;
  flex-direction: column;
  padding: 30px;
  row-gap: 30px;
}
header .sideShoppingCart .shoppingCartBottomBox .summariesBox {
  display: flex;
  justify-content: space-between;
}
header .sideShoppingCart .shoppingCartBottomBox .summariesBox .summary {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
}
header .sideShoppingCart .shoppingCartBottomBox .summariesBox .summary .summaryIcon {
  font-size: 20px;
  transition: 0.3s;
}
header .sideShoppingCart .shoppingCartBottomBox .summariesBox .summary .summaryTitle {
  font-weight: 500;
  font-size: 12px;
  color: #f60;
  transition: 0.3s;
}
header .sideShoppingCart .shoppingCartBottomBox .summariesBox .summary:hover .summaryIcon {
  color: #f60;
}
header .sideShoppingCart .shoppingCartBottomBox .summariesBox .summary:hover .summaryTitle {
  color: white;
}
header .sideShoppingCart .shoppingCartBottomBox .subTotalBox {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
header .sideShoppingCart .shoppingCartBottomBox .subTotalBox .subTotal {
  font-weight: 500;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}
header .sideShoppingCart .shoppingCartBottomBox .subTotalBox .taxInfo {
  font-size: 15px;
}
header .sideShoppingCart .shoppingCartBottomBox .shoppingCartBottomButtons {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
header .sideShoppingCart .shoppingCartBottomBox .shoppingCartBottomButtons .checkoutBtn {
  cursor: pointer;
  padding: 15px;
  border: 0px;
  background-color: #c40;
  border-radius: 7px;
  transition: 0.3s;
}
header .sideShoppingCart .shoppingCartBottomBox .shoppingCartBottomButtons .checkoutBtn:hover {
  background-color: rgba(192, 64, 0, 0.8156862745);
}
header .sideShoppingCart .shoppingCartBottomBox .shoppingCartBottomButtons .viewCartBtn {
  cursor: pointer;
  padding: 15px;
  border: 1px solid white;
  background-color: transparent;
  border-radius: 7px;
  transition: 0.5s;
}
header .sideShoppingCart .shoppingCartBottomBox .shoppingCartBottomButtons .viewCartBtn:hover {
  background-color: rgba(192, 64, 0, 0.8156862745);
  border: 0px;
}

#nav {
  position: relative;
  z-index: 2;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
#nav .navContainer {
  width: 95%;
  display: grid;
  grid-template-areas: "Left Middle Right";
  grid-template-columns: 1fr auto 1fr;
}
#nav .navContainer .navContainerLeft {
  grid-area: Left;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
#nav .navContainer .navContainerLeft .navList {
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px;
}
#nav .navContainer .navContainerLeft .navList li {
  position: relative;
  z-index: 2;
  overflow: hidden;
  margin: 10px 0;
}
#nav .navContainer .navContainerLeft .navList li a,
#nav .navContainer .navContainerLeft .navList li i {
  color: white;
  font-size: 17px;
  font-weight: 700;
}
#nav .navContainer .navContainerLeft .navList li a {
  font-weight: 500;
}
#nav .navContainer .navContainerLeft .navList li a span {
  padding-right: 5px;
  position: relative;
  top: 0;
  transition: 0.4s linear;
}
#nav .navContainer .navContainerLeft .navList li a span::before {
  content: attr(data-hover);
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: -30px;
  left: 0;
}
#nav .navContainer .navContainerLeft .navList li:hover span {
  top: 30px;
}
#nav .navContainer .navContainerLeft .navList .shopTag:hover ~ .subShop {
  opacity: 1;
  z-index: 2;
}
#nav .navContainer .navContainerLeft .navList .subShop {
  opacity: 0;
  position: absolute;
  top: 45px;
  left: 0;
  z-index: -2;
  width: 90vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #f60;
  border-radius: 8px;
  background-color: #444;
  padding: 35px;
  overflow: hidden;
  row-gap: 30px;
  transition: 0.5s;
}
#nav .navContainer .navContainerLeft .navList .subShop:hover {
  opacity: 1;
  z-index: 2;
}
#nav .navContainer .navContainerLeft .navList .subShop .shopItem {
  width: 50%;
  display: flex;
  align-items: center;
  column-gap: 20px;
}
#nav .navContainer .navContainerLeft .navList .subShop .shopItem .textBox {
  width: 300px;
  height: 121px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  row-gap: 40px;
}
#nav .navContainer .navContainerLeft .navList .subShop .shopItem .textBox .shopNowBtn {
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #333;
  border-radius: 6px;
  padding: 13px 30px;
  transition: 0.6s;
}
#nav .navContainer .navContainerLeft .navList .subShop .shopItem .textBox .shopNowBtn:hover {
  background-color: rgb(187, 63, 0);
}
#nav .navContainer .navContainerLeft .navList .pagesTag:hover ~ .subPages {
  opacity: 1;
  z-index: 2;
}
#nav .navContainer .navContainerLeft .navList .subPages {
  opacity: 0;
  position: absolute;
  top: 45px;
  left: 16em;
  z-index: -2;
  background-color: rgba(51, 51, 51, 0.3);
  padding: 35px 35px 35px 35px;
  border: 1px solid #b34903;
  border-radius: 6px;
  transition: 0.4s;
}
#nav .navContainer .navContainerLeft .navList .subPages:hover {
  opacity: 1;
  z-index: 2;
}
#nav .navContainer .navContainerLeft .toggleIcon {
  display: none;
}
#nav .navContainer .navContainerMiddle {
  grid-area: Middle;
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
#nav .navContainer .navContainerMiddle img {
  width: 130px;
  height: 25px;
}
#nav .navContainer .navContainerRight {
  grid-area: Right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 60px;
}
#nav .navContainer .navContainerRight .tryForFreeBtn {
  cursor: pointer;
  min-width: 84px;
  min-height: 44px;
  padding: 0px 25px;
  background-color: transparent;
  border-radius: 8px;
  border: 1px solid #444;
  transition: 0.4s;
}
#nav .navContainer .navContainerRight .tryForFreeBtn:hover {
  background-color: #b34903;
}
#nav .navContainer .navContainerRight .fa-bag-shopping {
  cursor: pointer;
  position: relative;
  font-size: 25px;
  transition: 0.4s;
}
#nav .navContainer .navContainerRight .fa-bag-shopping:hover {
  transform: scale(1.1);
  color: #f60;
}
#nav .navContainer .navContainerRight .fa-bag-shopping .productCountOnIcon {
  position: absolute;
  top: -5px;
  right: -5px;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background-color: #777;
  font-size: 15px;
  text-align: center;
}

@media screen and (min-width: 750px) and (max-width: 1200px) {
  #nav {
    background-color: #222;
    height: 60px;
  }
  #nav .navContainer {
    width: 95%;
    display: grid;
    grid-template-areas: "Middle Left Right";
    grid-template-columns: 1fr auto auto;
    column-gap: 20px;
  }
  #nav .navContainer .navContainerLeft {
    display: flex;
    justify-content: flex-end;
  }
  #nav .navContainer .navContainerLeft .navList {
    display: none;
  }
  #nav .navContainer .navContainerLeft .fa-bars {
    cursor: pointer;
    display: inline-block;
    font-size: 25px;
    transition: 0.4s;
  }
  #nav .navContainer .navContainerLeft .fa-bars:hover {
    color: #f60;
    transform: scale(1.1);
  }
  #nav .navContainer .navContainerMiddle {
    grid-area: Middle;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  #nav .navContainer .navContainerMiddle img {
    width: 130px;
    height: 25px;
  }
  #nav .navContainer .navContainerRight {
    column-gap: 0;
  }
  #nav .navContainer .navContainerRight .tryForFreeBtn {
    display: none;
  }
}
@media screen and (max-width: 750px) {
  #nav {
    background-color: #222;
    height: 60px;
  }
  #nav .navContainer {
    width: 95%;
    display: grid;
    grid-template-areas: "Left Middle Right";
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
  }
  #nav .navContainer .navContainerLeft {
    display: flex;
    justify-content: flex-start;
  }
  #nav .navContainer .navContainerLeft .navList {
    display: none;
  }
  #nav .navContainer .navContainerLeft .fa-bars {
    cursor: pointer;
    display: inline-block;
    font-size: 25px;
    transition: 0.4s;
  }
  #nav .navContainer .navContainerLeft .fa-bars:hover {
    color: #f60;
    transform: scale(1.1);
  }
  #nav .navContainer .navContainerMiddle {
    grid-area: Middle;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #nav .navContainer .navContainerMiddle img {
    width: 130px;
    height: 25px;
  }
  #nav .navContainer .navContainerRight {
    column-gap: 0;
  }
  #nav .navContainer .navContainerRight .tryForFreeBtn {
    display: none;
  }
}
.overlay {
  width: 100vw;
  position: relative;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: rgba(51, 51, 51, 0.6156862745);
  transition: 0.4s;
}

.sideNavContainer {
  width: 400px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: -400px;
  z-index: 2;
  background-color: rgb(57, 62, 64);
  transition: 0.4s;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.sideNavContainer .sideNavCloseBtnDiv {
  opacity: 0.7;
  width: 40px;
  height: 40px;
  padding: 10px 10px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.sideNavContainer .sideNavCloseBtnDiv:hover {
  opacity: 1;
}
.sideNavContainer .sideNavCloseBtnDiv .sideNavCloseBtn {
  font-size: 40px;
}
.sideNavContainer #sideNav {
  height: 800px;
  padding: 20px 10px;
}
.sideNavContainer #sideNav .sideNavList {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 5px;
}
.sideNavContainer #sideNav .sideNavList li {
  cursor: pointer;
  padding: 10px 30px;
  transition: 0.4s;
}
.sideNavContainer #sideNav .sideNavList li:hover {
  background-color: #222;
}
.sideNavContainer #sideNav .sideNavList li a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 19px;
  font-weight: 300;
}
.sideNavContainer #sideNav .sideShopSubNav {
  width: 400px;
  height: 800px;
  position: absolute;
  top: 0;
  right: -400px;
  z-index: 3;
  background-color: #111;
  padding: 13px 0;
  margin-top: 60px;
  transition: 0.5s;
}
.sideNavContainer #sideNav .sideShopSubNav .shopNavTitle {
  cursor: pointer;
  padding: 12px 26px;
  transition: 0.4s;
}
.sideNavContainer #sideNav .sideShopSubNav .shopNavTitle:hover {
  background-color: #222;
}
.sideNavContainer #sideNav .sideShopSubNav .shopNavTitle h3 {
  font-size: 18px;
  font-weight: 400;
}
.sideNavContainer #sideNav .sideShopSubNav .shopNavTitle h3 i {
  margin-right: 15px;
  font-size: 15px;
}
.sideNavContainer #sideNav .sideShopSubNav .sideShopItem {
  display: flex;
  padding: 12px 26px;
}
.sideNavContainer #sideNav .sideShopSubNav .sideShopItem img {
  width: 114px;
  height: 140px;
}
.sideNavContainer #sideNav .sideShopSubNav .sideShopItem .sideTextBox {
  width: 234px;
  height: 150px;
  padding: 10px;
  background-color: rgba(57, 62, 64, 0.55);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  row-gap: 30px;
}
.sideNavContainer #sideNav .sideShopSubNav .sideShopItem .sideTextBox .sideShopNowBtn {
  cursor: pointer;
  background-color: transparent;
  font-size: 19px;
  padding: 10px 27px;
  border: 1px solid #333;
  border-radius: 6px;
  transition: 0.3s;
}
.sideNavContainer #sideNav .sideShopSubNav .sideShopItem .sideTextBox .sideShopNowBtn:hover {
  background-color: rgb(187, 63, 0);
}
.sideNavContainer #sideNav .sidePagesSubNav {
  width: 400px;
  height: 800px;
  position: absolute;
  top: 0;
  right: -400px;
  z-index: 3;
  background-color: #111;
  padding: 13px 0;
  margin-top: 60px;
  transition: 0.5s;
}
.sideNavContainer #sideNav .sidePagesSubNav .pagesNavTitle {
  cursor: pointer;
  padding: 12px 26px;
  transition: 0.4s;
}
.sideNavContainer #sideNav .sidePagesSubNav .pagesNavTitle:hover {
  background-color: #222;
}
.sideNavContainer #sideNav .sidePagesSubNav .pagesNavTitle h3 {
  font-size: 18px;
  font-weight: 400;
}
.sideNavContainer #sideNav .sidePagesSubNav .pagesNavTitle h3 i {
  margin-right: 15px;
  font-size: 15px;
}
.sideNavContainer #sideNav .sidePagesSubNav .subPagesList {
  padding: 12px 26px;
}
.sideNavContainer #sideNav .sidePagesSubNav .subPagesList li {
  cursor: pointer;
  font-size: 18px;
  font-weight: 300;
  padding: 8px 18px;
  transition: 0.3s;
}
.sideNavContainer #sideNav .sidePagesSubNav .subPagesList li:hover {
  background-color: #222;
}
.sideNavContainer .sideIconMenu {
  position: absolute;
  bottom: 0;
  padding: 20px;
  background-color: #222;
  width: 100%;
}
.sideNavContainer .sideIconMenu i {
  cursor: pointer;
  font-size: 27px;
  padding-right: 20px;
  transition: 0.3s;
}
.sideNavContainer .sideIconMenu i:hover {
  transform: scale(1.1);
}

#searchRobot {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://img.freepik.com/free-photo/digital-techno-background-with-connecting-lines-dots_1048-6291.jpg?w=826&t=st=1699750941~exp=1699751541~hmac=570cd38bb5d83a20e65e115f5d59ff6ad0e3ad7613b51e555bf36e96edff5d70") !important;
  background-size: cover;
  padding-bottom: 5em;
}
#searchRobot .searcRobotContainer {
  height: 1000px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#searchRobot .searcRobotContainer img[alt=Terminator] {
  height: 760px;
}
#searchRobot .searcRobotContainer .searchRobotTextBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#searchRobot .searcRobotContainer .searchRobotTextBox .searchBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
#searchRobot .searcRobotContainer .searchRobotTextBox .searchBox .searchInputs {
  width: fit-content;
  background-color: rgb(24, 26, 27);
  padding: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-6em);
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
#searchRobot .searcRobotContainer .searchRobotTextBox .searchBox .searchInputs #search {
  outline-style: none;
  box-shadow: none;
  box-sizing: content-box;
  width: 563px;
  height: 60px;
  padding: 0px 160px 0px 25px;
  background-color: transparent;
  font-size: 18px;
  border-radius: 8px 0pc 0pc 8px;
  border: 0px;
}
#searchRobot .searcRobotContainer .searchRobotTextBox .searchBox .searchInputs #generateBtn {
  cursor: pointer;
  box-sizing: content-box;
  width: 100px;
  height: 46px;
  padding: 0px 20px;
  border: 0px;
  border-radius: 8px;
  background-color: #d40;
  transition: 0.4s;
}
#searchRobot .searcRobotContainer .searchRobotTextBox .searchBox .keywordsBox {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
}
#searchRobot .searcRobotContainer .searchRobotTextBox .searchBox .keywordsBox .keyword {
  cursor: pointer;
  padding: 5px;
  background-color: #444;
  border-radius: 8px;
  transition: 0.4s;
}
#searchRobot .searcRobotContainer .searchRobotTextBox .searchBox .keywordsBox .keyword:hover {
  background-color: #d40;
}
#searchRobot .searcRobotContainer .searchRobotTextBox .searchTitleBox {
  max-width: 1150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 5em;
  row-gap: 2em;
}
#searchRobot .searcRobotContainer .searchRobotTextBox .searchTitleBox .searchTitle {
  font-size: 3.7em;
  font-weight: 500;
  text-align: start;
  word-break: break-all;
}
#searchRobot .searcRobotContainer .searchRobotTextBox .searchTitleBox .searchTitle .wrap {
  color: #e50;
  word-break: keep-all;
}
#searchRobot .searcRobotContainer .searchRobotTextBox .searchTitleBox .searchTitle .wrap::after {
  content: "";
  display: inline-block;
  width: 5px;
  height: 70px;
  background-color: #111;
  transform: translateY(10px);
}
#searchRobot .searcRobotContainer .searchRobotTextBox .searchTitleBox .searchInfo {
  width: 888px;
}

@media screen and (max-width: 1200px) {
  #searchRobot .searcRobotContainer img[alt=Terminator] {
    width: 90%;
  }
}
@media screen and (max-width: 750px) {
  #searchRobot .searcRobotContainer img[alt=Terminator] {
    position: relative;
    bottom: 0;
    width: 100vw;
  }
  #searchRobot .searcRobotContainer .searchRobotTextBox {
    padding-top: 2em;
    padding-bottom: 10em;
    position: relative;
    bottom: 0;
    left: 0;
    background-color: #444;
    width: fit-content;
  }
  #searchRobot .searcRobotContainer .searchRobotTextBox .searchBox {
    transform: translateY(6em);
  }
  #searchRobot .searcRobotContainer .searchRobotTextBox .searchBox .searchInputs #search {
    width: 100%;
  }
  #searchRobot .searcRobotContainer .searchRobotTextBox .searchTitleBox {
    width: 100vw;
  }
  #searchRobot .searcRobotContainer .searchRobotTextBox .searchTitleBox .searchTitle {
    padding-top: 25px;
    font-size: 34px;
  }
  #searchRobot .searcRobotContainer .searchRobotTextBox .searchTitleBox .searchTitle .wrap::after {
    height: 34px;
    transform: translateY(5px);
  }
  #searchRobot .searcRobotContainer .searchRobotTextBox .searchTitleBox .searchTitle, #searchRobot .searcRobotContainer .searchRobotTextBox .searchTitleBox .searchInfo {
    width: 90vw;
  }
}
#popularProducts {
  display: flex;
  flex-direction: column;
  padding: 100px 40px;
}
#popularProducts .popularProductsTitleBox {
  align-self: baseline;
}
#popularProducts .popularProductsTitleBox .popularProductsTitle {
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 30px;
}
#popularProducts .popularProductsTitleBox .popularProductsInfo {
  line-height: 2em;
  margin-bottom: 30px;
}
#popularProducts .productsBox {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 40px;
  row-gap: 40px;
}
#popularProducts .productsBox .product {
  cursor: pointer;
  width: 378px;
  height: 649px;
  display: flex;
  flex-direction: column;
  row-gap: 1.5em;
}
#popularProducts .productsBox .product .productImgBox {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 80%;
  overflow: hidden;
}
#popularProducts .productsBox .product .productImgBox img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  transition: 0.4s;
}
#popularProducts .productsBox .product .productImgBox .addButtons {
  opacity: 0;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 33px;
  position: absolute;
  top: calc(50% - 40px);
  right: 0;
  transition: 0.4s;
}
#popularProducts .productsBox .product .productImgBox .addButtons .productBtn {
  position: relative;
  cursor: pointer;
  width: 33px;
  height: 33px;
  border-radius: 33px;
  border: 0px;
  background-color: #d40;
  transition: 0.3s;
}
#popularProducts .productsBox .product .productImgBox .addButtons .productBtn .description {
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  position: absolute;
  top: 0;
  left: -100px;
  width: 120px;
  height: 33px;
  background-color: #d40;
  transition: 0.4s;
}
#popularProducts .productsBox .product .productImgBox .addButtons .productBtn:hover .description {
  opacity: 1;
  left: -130px;
}
#popularProducts .productsBox .product .productImgBox .addButtons .productBtn:hover {
  background-color: #252525;
}
#popularProducts .productsBox .product .productTextBox {
  display: flex;
  flex-direction: column;
  column-gap: 2em;
}
#popularProducts .productsBox .product .productTextBox .productName {
  font-size: 25px;
  font-weight: 500;
  align-self: baseline;
  margin-bottom: 20px;
  transition: 0.4s;
}
#popularProducts .productsBox .product .productTextBox .productPrice {
  font-size: 33px;
  font-weight: 500;
  padding-bottom: 50px;
}
#popularProducts .productsBox .product:hover .productName {
  color: #d40;
}
#popularProducts .productsBox .product:hover .addButtons {
  right: 10%;
  opacity: 1;
}
#popularProducts .productsBox .product:hover img {
  transform: scale(1.2);
}
#popularProducts .viewAll {
  cursor: pointer;
  align-self: center;
  padding: 12px 35px;
  border-radius: 8px;
  border: 0px;
  background-color: #d40;
  transition: 0.4s;
}
#popularProducts .viewAll:hover {
  background-color: #c30;
}

@media screen and (max-width: 1600px) {
  #popularProducts {
    display: flex;
    flex-direction: column;
    padding: 100px 40px;
  }
  #popularProducts .productsBox {
    flex-wrap: wrap;
  }
}
#videoSection {
  background-color: #161313;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
#videoSection .video_popup {
  z-index: 2;
  position: absolute;
  flex-direction: column;
  left: 50%;
  transform: translate(-50%);
  border: 1px solid #ccc;
  padding: 20px 40px;
  background-color: #fff;
  border-radius: 4px;
  display: none;
}
#videoSection .video_popup .video_exit {
  width: 20px;
  position: relative;
  left: 870px;
  bottom: 5px;
}
#videoSection .video_popup .video_exit .fa-xmark {
  font-size: 20px;
}
#videoSection .videoSection_container {
  background-image: url(//dt-aimax.myshopify.com/cdn/shop/files/video-popup.jpg?v=1683629483&width=1100);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 900px;
  object-fit: cover;
  object-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-attachment: unset;
}
#videoSection .videoSection_container .video_play_icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
#videoSection .videoSection_container .video_play_icon .watch_more {
  transition: 0.5s;
  padding: 65px;
  border: 1px solid rgb(227, 77, 0);
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}
#videoSection .videoSection_container .video_play_icon .watch_more .fa-play {
  transition: 0.5s;
  font-size: 20px;
  color: white;
}
#videoSection .videoSection_container .video_play_icon .watch_more:hover {
  background-color: rgb(0, 0, 0);
}
#videoSection .videoSection_container .video_play_icon .watch_more:hover .fa-play {
  font-size: 20px;
  color: #9e9d9d;
}

#aiBlog {
  background-color: #161313;
  width: 100%;
}
#aiBlog .aiBlog_container {
  padding: 100px 40px;
}
#aiBlog .aiBlog_container .aiBlog_title {
  display: grid;
  gap: 30px;
  text-align: center;
}
#aiBlog .aiBlog_container .aiBlog_title h2 {
  font-size: 48px;
  color: white;
}
#aiBlog .aiBlog_container .aiBlog_title p {
  color: #9e9d9d;
}
#aiBlog .aiBlog_container .aiBlog_row {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}
#aiBlog .aiBlog_container .aiBlog_row .aiBlog_col {
  background-color: #1d1c1c;
  width: 30%;
  height: 670px;
  border-radius: 10px;
}
#aiBlog .aiBlog_container .aiBlog_row .aiBlog_col .aiBlog_img {
  overflow: hidden;
  width: 100%;
  border-radius: 10px;
  display: flex;
}
#aiBlog .aiBlog_container .aiBlog_row .aiBlog_col .aiBlog_img span {
  opacity: 0;
  margin-top: 270px;
  margin-left: 50px;
  padding: 10px;
  background-color: rgb(227, 77, 0);
  border-radius: 10px;
  color: white;
  position: absolute;
  transition: 0.5s;
}
#aiBlog .aiBlog_container .aiBlog_row .aiBlog_col .aiBlog_img img {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  transition: 2s;
}
#aiBlog .aiBlog_container .aiBlog_row .aiBlog_col .card_content {
  margin: 40px;
  overflow: hidden;
}
#aiBlog .aiBlog_container .aiBlog_row .aiBlog_col .card_content h4 {
  font-size: 25px;
  color: white;
  padding-bottom: 30px;
  transition: 0.4s;
}
#aiBlog .aiBlog_container .aiBlog_row .aiBlog_col .card_content .card_paragraph {
  font-size: 20px;
  color: #9e9d9d;
  padding-bottom: 50px;
}
#aiBlog .aiBlog_container .aiBlog_row .aiBlog_col .card_content .ReadMore {
  transition: 0.7s;
  width: 120px;
  transform: translateX(-90px);
  display: flex;
  gap: 20px;
  align-items: center;
}
#aiBlog .aiBlog_container .aiBlog_row .aiBlog_col .card_content .ReadMore .link_readmore {
  text-decoration: none;
  color: white;
}
#aiBlog .aiBlog_container .aiBlog_row .aiBlog_col .card_content .ReadMore .fa-arrow-right-long {
  color: white;
  transition: 0.5s;
  transform: rotate(-45deg);
}
#aiBlog .aiBlog_container .aiBlog_row .aiBlog_col .card_content .ReadMore:hover {
  transform: translateX(0);
}
#aiBlog .aiBlog_container .aiBlog_row .aiBlog_col .card_content .ReadMore:hover .fa-arrow-right-long {
  transform: rotate(0);
  color: rgb(227, 77, 0);
}
#aiBlog .aiBlog_container .aiBlog_row .aiBlog_col:hover img {
  transform: scale(1.3);
}
#aiBlog .aiBlog_container .aiBlog_row .aiBlog_col:hover .card_content h4 {
  color: rgb(227, 77, 0);
}
#aiBlog .aiBlog_container .aiBlog_row .aiBlog_col:hover span {
  opacity: 1;
  transform: translateY(-80%);
}

#igGallery {
  background-color: #161313;
  width: 100%;
  padding-top: 36px;
}
#igGallery .igGallery_container {
  width: 100%;
  display: flex;
}
#igGallery .igGallery_container .igGallery_col_1 {
  background-image: url(https://dt-aimax.myshopify.com/cdn/shop/files/insta1_2ab87dae-a15b-41a2-8a48-7ba124786cfd.jpg?v=1684129861&width=1500);
  height: 350px;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
}
#igGallery .igGallery_container .igGallery_col_1 .ig_blur {
  opacity: 0;
  transition: 0.7s;
  margin-bottom: 20px;
}
#igGallery .igGallery_container .igGallery_col_1 .ig_blur .fa-instagram {
  opacity: 0;
  z-index: 5;
  color: white;
  font-size: 40px;
}
#igGallery .igGallery_container .igGallery_col_1:hover .ig_blur {
  opacity: 1;
  transform: translateY(20px);
}
#igGallery .igGallery_container .igGallery_col_1:hover .ig_blur .fa-instagram {
  opacity: 1;
}
#igGallery .igGallery_container .ig_blur:hover {
  backdrop-filter: blur(10px);
  border-radius: 50%;
  padding: 30px;
}
#igGallery .igGallery_container .igGallery_col_2 {
  background-image: url(https://dt-aimax.myshopify.com/cdn/shop/files/insta2.jpg?v=1684129861&width=1500);
  background-size: cover;
  background-repeat: no-repeat;
  height: 350px;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#igGallery .igGallery_container .igGallery_col_2 .ig_blur {
  transition: 0.7s;
  margin-bottom: 20px;
}
#igGallery .igGallery_container .igGallery_col_2 .ig_blur .fa-instagram {
  opacity: 0;
  z-index: 5;
  color: white;
  font-size: 40px;
}
#igGallery .igGallery_container .igGallery_col_2:hover .ig_blur {
  opacity: 1;
  transform: translateY(20px);
}
#igGallery .igGallery_container .igGallery_col_2:hover .ig_blur .fa-instagram {
  opacity: 1;
}
#igGallery .igGallery_container .ig_blur:hover {
  backdrop-filter: blur(10px);
  border-radius: 50%;
  padding: 30px;
}
#igGallery .igGallery_container .igGallery_col_3 {
  background-image: url(https://dt-aimax.myshopify.com/cdn/shop/files/insta3.jpg?v=1684129862&width=1500);
  background-size: cover;
  background-repeat: no-repeat;
  height: 350px;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#igGallery .igGallery_container .igGallery_col_3 .ig_blur {
  transition: 0.7s;
  margin-bottom: 20px;
}
#igGallery .igGallery_container .igGallery_col_3 .ig_blur .fa-instagram {
  z-index: 5;
  color: white;
  font-size: 40px;
  opacity: 0;
}
#igGallery .igGallery_container .igGallery_col_3:hover .ig_blur {
  opacity: 1;
  transform: translateY(20px);
}
#igGallery .igGallery_container .igGallery_col_3:hover .ig_blur .fa-instagram {
  opacity: 1;
}
#igGallery .igGallery_container .ig_blur:hover {
  backdrop-filter: blur(10px);
  border-radius: 50%;
  padding: 30px;
}
#igGallery .igGallery_container .igGallery_col_4 {
  background-image: url(https://dt-aimax.myshopify.com/cdn/shop/files/insta4.jpg?v=1684129861&width=1500);
  background-size: cover;
  background-repeat: no-repeat;
  height: 350px;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#igGallery .igGallery_container .igGallery_col_4 .ig_blur {
  transition: 0.7s;
  margin-bottom: 20px;
}
#igGallery .igGallery_container .igGallery_col_4 .ig_blur .fa-instagram {
  z-index: 5;
  color: white;
  font-size: 40px;
  opacity: 0;
}
#igGallery .igGallery_container .igGallery_col_4:hover .ig_blur {
  opacity: 1;
  transform: translateY(20px);
}
#igGallery .igGallery_container .igGallery_col_4:hover .ig_blur .fa-instagram {
  opacity: 1;
}
#igGallery .igGallery_container .ig_blur:hover {
  backdrop-filter: blur(10px);
  border-radius: 50%;
  padding: 30px;
}
#igGallery .igGallery_container .igGallery_col_5 {
  background-image: url(https://dt-aimax.myshopify.com/cdn/shop/files/insta5.jpg?v=1684129861&width=1500);
  background-size: cover;
  background-repeat: no-repeat;
  height: 350px;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#igGallery .igGallery_container .igGallery_col_5 .ig_blur {
  transition: 0.7s;
  margin-bottom: 20px;
}
#igGallery .igGallery_container .igGallery_col_5 .ig_blur .fa-instagram {
  z-index: 5;
  color: white;
  font-size: 40px;
  opacity: 0;
}
#igGallery .igGallery_container .igGallery_col_5:hover .ig_blur {
  opacity: 1;
  transform: translateY(20px);
}
#igGallery .igGallery_container .igGallery_col_5:hover .ig_blur .fa-instagram {
  opacity: 1;
}
#igGallery .igGallery_container .ig_blur:hover {
  backdrop-filter: blur(10px);
  border-radius: 50%;
  padding: 30px;
}

@media screen and (max-width: 1447px) {
  .aiBlog_col {
    height: 700px !important;
    width: 399px !important;
  }
}
@media screen and (max-width: 1054px) {
  .aiBlog_col {
    height: 100% !important;
    width: 500px !important;
  }
}
@media screen and (max-width: 790px) {
  .aiBlog_col {
    width: 1200px !important;
  }
}
@media screen and (max-width: 958px) {
  #videoSection .video_popup .video_exit {
    width: 20px;
    position: relative;
    left: 510px;
    bottom: 5px;
  }
  #videoSection .video_popup .youtube_video iframe {
    width: 500px;
    height: 400px;
  }
}
@media screen and (max-width: 597px) {
  #videoSection .video_popup .video_exit {
    width: 20px;
    position: relative;
    left: 310px;
    bottom: 5px;
  }
  #videoSection .video_popup .youtube_video iframe {
    width: 300px;
    height: 200px;
  }
}
@media screen and (max-width: 397px) {
  #videoSection .video_popup .video_exit {
    width: 20px;
    position: relative;
    left: 210px;
    bottom: 5px;
  }
  #videoSection .video_popup .youtube_video iframe {
    width: 200px;
    height: 200px;
  }
}
footer {
  background-color: #1d1c1c;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
footer .footer_container .footer_row {
  background-color: #1d1c1c;
  border-bottom: 1px solid rgb(227, 77, 0);
  padding-top: 60px;
  padding-bottom: 40px;
  gap: 3.5rem;
  display: flex;
}
footer .footer_container .footer_row .footer_col_form {
  display: grid;
  grid-area: form;
  gap: 16px;
  padding: 15px 20px;
  width: 35%;
}
footer .footer_container .footer_row .footer_col_form p {
  color: #9e9d9d;
}
footer .footer_container .footer_row .footer_col_form form {
  padding-top: 14px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
footer .footer_container .footer_row .footer_col_form form input {
  padding: 10px;
  border-radius: 5px;
  border-color: rgb(227, 77, 0);
  width: 100%;
  height: 58px;
  color: white;
  background-color: #1d1c1c;
}
footer .footer_container .footer_row .footer_col_form form button {
  position: absolute;
  margin-right: 10px;
  border: none;
  background-color: #1d1c1c;
  color: rgb(227, 77, 0);
  transition: 1s;
}
footer .footer_container .footer_row .footer_col_form form button .fa-paper-plane {
  font-size: 18px;
}
footer .footer_container .footer_row .footer_col_form form button:hover {
  color: white;
}
footer .footer_container .footer_row .footer_col_info {
  display: grid;
  grid-area: info;
  padding: 15px 20px;
  width: 25%;
}
footer .footer_container .footer_row .footer_col_info h2 {
  font-size: 25px;
  color: rgb(227, 77, 0);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .footer_container .footer_row .footer_col_info h2 .fa-plus {
  display: none;
  color: #9e9d9d;
  opacity: 0;
}
footer .footer_container .footer_row .footer_col_info h2 .fa-minus {
  display: none;
  color: #9e9d9d;
  opacity: 0;
}
footer .footer_container .footer_row .footer_col_info ul {
  margin-top: 50px;
  display: grid;
  gap: 20px;
}
footer .footer_container .footer_row .footer_col_info ul li a {
  transition: 0.5s;
  color: #9e9d9d;
  text-decoration: none;
}
footer .footer_container .footer_row .footer_col_info ul li a:hover {
  color: white;
}
footer .footer_container .footer_row .footer_col_career {
  display: grid;
  grid-area: career;
  padding: 15px 20px;
  width: 25%;
}
footer .footer_container .footer_row .footer_col_career h2 {
  font-size: 25px;
  color: rgb(227, 77, 0);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .footer_container .footer_row .footer_col_career h2 .fa-plus {
  display: none;
  color: #9e9d9d;
  opacity: 0;
}
footer .footer_container .footer_row .footer_col_career h2 .fa-minus {
  display: none;
  color: #9e9d9d;
  opacity: 0;
}
footer .footer_container .footer_row .footer_col_career ul {
  margin-top: 50px;
  display: grid;
}
footer .footer_container .footer_row .footer_col_career ul li {
  height: 26px;
}
footer .footer_container .footer_row .footer_col_career ul li a {
  transition: 0.5s;
  color: #9e9d9d;
  text-decoration: none;
}
footer .footer_container .footer_row .footer_col_career ul li a:hover {
  color: white;
}
footer .footer_container .footer_row .footer_col_legal {
  display: grid;
  grid-area: legal;
  padding: 15px 20px;
  width: 25%;
}
footer .footer_container .footer_row .footer_col_legal h2 {
  font-size: 25px;
  color: rgb(227, 77, 0);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .footer_container .footer_row .footer_col_legal h2 .fa-plus {
  display: none;
  color: #9e9d9d;
  opacity: 0;
}
footer .footer_container .footer_row .footer_col_legal h2 .fa-minus {
  display: none;
  color: #9e9d9d;
  opacity: 0;
}
footer .footer_container .footer_row .footer_col_legal ul {
  margin-top: 50px;
  display: grid;
  gap: 20px;
}
footer .footer_container .footer_row .footer_col_legal ul li a {
  transition: 0.5s;
  color: #9e9d9d;
  text-decoration: none;
}
footer .footer_container .footer_row .footer_col_legal ul li a:hover {
  color: white;
}
footer .footer_container .footer_row .footer_col_our-app {
  padding: 15px 20px;
  display: grid;
  grid-area: OurApp;
  width: 25%;
}
footer .footer_container .footer_row .footer_col_our-app h2 {
  font-size: 25px;
  color: rgb(227, 77, 0);
}
footer .footer_container .footer_row .footer_col_our-app a img {
  padding-bottom: 10px;
}
footer .footer_container .footer_row .footer_col_our-app a:hover {
  color: white;
}
footer .footer_container .footer_content {
  width: 100%;
}
footer .footer_container .footer_content .footer_content_txt-cards {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .footer_container .footer_content .footer_content_txt-cards p {
  color: #9e9d9d;
}
footer .footer_container .footer_content .footer_content_txt-cards p a {
  transition: 0.5s;
  text-decoration: none;
  color: #9e9d9d;
}
footer .footer_container .footer_content .footer_content_txt-cards p a:hover {
  color: white;
}

@media screen and (max-width: 1284px) {
  footer {
    height: 100%;
  }
  footer .footer_container {
    width: 100%;
  }
  footer .footer_container .footer_row {
    width: 100%;
    display: grid;
    grid-template-areas: "form form form form" "info career legal OurApp";
  }
  footer .footer_container .footer_row .footer_col_form {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  footer .footer_container .footer_row .footer_col_form form {
    width: 100%;
  }
  footer .footer_container .footer_row .footer_col_info {
    width: 100%;
    overflow: hidden;
  }
  footer .footer_container .footer_row .footer_col_career {
    width: 100%;
    overflow: hidden;
  }
  footer .footer_container .footer_row .footer_col_legal {
    width: 100%;
    overflow: hidden;
  }
  footer .footer_container .footer_row .footer_col_our-app {
    width: 100%;
  }
  footer .footer_container .footer_content .footer_content_txt-cards {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }
}
@media screen and (max-width: 1084px) {
  footer {
    height: 100%;
  }
  footer .footer_container {
    width: 100%;
  }
  footer .footer_container .footer_row {
    width: 100%;
    display: grid;
    grid-template-areas: "form form" "info career" "legal OurApp";
  }
  footer .footer_container .footer_row .footer_col_form {
    width: 100%;
    text-align: center;
  }
  footer .footer_container .footer_row .footer_col_info {
    width: 100%;
    overflow: hidden;
  }
  footer .footer_container .footer_row .footer_col_career {
    width: 100%;
    overflow: hidden;
  }
  footer .footer_container .footer_row .footer_col_legal {
    width: 100%;
    overflow: hidden;
  }
  footer .footer_container .footer_row .footer_col_our-app {
    width: 100%;
  }
  footer .footer_container .footer_content .footer_content_txt-cards {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }
}
@media screen and (max-width: 504px) {
  footer .footer_container .footer_row {
    grid-template-areas: "form" "info" "career" "legal" "OurApp";
  }
  footer .footer_container .footer_row .footer_col_legal {
    padding: 0px 20px;
  }
  footer .footer_container .footer_row .footer_col_legal h2 {
    width: 90%;
  }
  footer .footer_container .footer_row .footer_col_legal h2 .fa-plus {
    opacity: 1;
    display: block;
  }
  footer .footer_container .footer_row .footer_col_legal h2 .fa-minus {
    opacity: 1;
  }
  footer .footer_container .footer_row .footer_col_legal ul {
    transition: 1s;
    opacity: 1;
    height: 0;
  }
  footer .footer_container .footer_row .footer_col_info {
    padding: 0px 20px;
  }
  footer .footer_container .footer_row .footer_col_info h2 {
    width: 90%;
  }
  footer .footer_container .footer_row .footer_col_info h2 .fa-plus {
    opacity: 1;
    display: block;
  }
  footer .footer_container .footer_row .footer_col_info h2 .fa-minus {
    opacity: 1;
  }
  footer .footer_container .footer_row .footer_col_info ul {
    transition: 1s;
    opacity: 1;
    height: 0;
  }
  footer .footer_container .footer_row .footer_col_career {
    padding: 0px 20px;
  }
  footer .footer_container .footer_row .footer_col_career h2 {
    width: 90%;
  }
  footer .footer_container .footer_row .footer_col_career h2 .fa-plus {
    opacity: 1;
    display: block;
  }
  footer .footer_container .footer_row .footer_col_career h2 .fa-minus {
    opacity: 1;
  }
  footer .footer_container .footer_row .footer_col_career ul {
    transition: 1s;
    opacity: 1;
    height: 0;
  }
}/*# sourceMappingURL=main.css.map */