#searchRobot {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://img.freepik.com/free-photo/digital-techno-background-with-connecting-lines-dots_1048-6291.jpg?w=826&t=st=1699750941~exp=1699751541~hmac=570cd38bb5d83a20e65e115f5d59ff6ad0e3ad7613b51e555bf36e96edff5d70") !important;
  background-size: cover;
  padding-bottom: 5em;

  // https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimg.freepik.com%2Ffree-photo%2Fabstract-connected-dots-lines-blue-background_34629-424.jpg%3Fsize%3D626%26ext%3Djpg&f=1&nofb=1&ipt=84a170b947705e59f037ae418cb55477a440416d75c49c91f34214c89cc7c5be&ipo=images

  // https://img.freepik.com/free-photo/digital-techno-background-with-connecting-lines-dots_1048-6291.jpg?w=826&t=st=1699750941~exp=1699751541~hmac=570cd38bb5d83a20e65e115f5d59ff6ad0e3ad7613b51e555bf36e96edff5d70

  .searcRobotContainer {
    height: 1000px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img[alt="Terminator"] {
      height: 760px;
    }

    .searchRobotTextBox {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .searchBox {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        .searchInputs {
          width: fit-content;
          background-color: rgb(24, 26, 27);
          padding: 10px;
          border-radius: 8px;
          display: flex;
          justify-content: center;
          align-items: center;
          transform: translateY(-6em);
          box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px,
            rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px,
            rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px,
            rgba(0, 0, 0, 0.07) 0px 32px 64px;

          #search {
            outline-style: none;
            box-shadow: none;
            box-sizing: content-box;
            width: 563px;
            height: 60px;
            padding: 0px 160px 0px 25px;
            background-color: transparent;
            font-size: 18px;
            border-radius: 8px 0pc 0pc 8px;
            border: 0px;
          }

          #generateBtn {
            cursor: pointer;
            box-sizing: content-box;
            width: 100px;
            height: 46px;
            padding: 0px 20px;
            border: 0px;
            border-radius: 8px;
            background-color: #d40;
            transition: 0.4s;
          }
        }

        .keywordsBox {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          column-gap: 20px;

          .keyword {
            cursor: pointer;
            padding: 5px;
            background-color: #444;
            border-radius: 8px;
            transition: 0.4s;

            &:hover {
              background-color: #d40;
            }
          }
        }
      }

      .searchTitleBox {
        max-width: 1150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 5em;
        row-gap: 2em;

        .searchTitle {
          font-size: 3.7em;
          font-weight: 500;
          text-align: start;
          word-break: break-all;

          .wrap {
            color: #e50;
            word-break: keep-all;

            &::after {
              content: "";
              display: inline-block;
              width: 5px;
              height: 70px;
              background-color: #111;
              transform: translateY(10px);
            }
          }
        }

        .searchInfo {
          width: 888px;
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  #searchRobot {
    .searcRobotContainer {
      img[alt="Terminator"] {
        width: 90%;
      }
    }
  }
}

@media screen and (max-width: 750px) {
  #searchRobot {
    .searcRobotContainer {
      img[alt="Terminator"] {
        position: relative;
        bottom: 0;
        width: 100vw;
      }

      .searchRobotTextBox {
        padding-top: 2em;
        padding-bottom: 10em;
        position: relative;
        bottom: 0;
        left: 0;
        background-color: #444;
        width: fit-content;

        .searchBox {
          transform: translateY(6em);

          .searchInputs {
            #search {
              width: 100%;
            }
          }
        }

        .searchTitleBox {
          width: 100vw;

          .searchTitle {
            padding-top: 25px;
            font-size: 34px;

            .wrap::after {
              height: 34px;
              transform: translateY(5px);
            }
          }

          .searchTitle,
          .searchInfo {
            width: 90vw;
          }
        }
      }
    }
  }
}

#aboutUs {
  background-color: #1d1c1c;

  .container {
    background-color: #1d1c1c;
    display: flex;

    .aboutUsImg {
      img {
        height: 100%;
      }
    }

    .aboutUsText {
      width: 50%;

      .aboutUsContent {
        .topContent {
          padding: 5rem;

          .subTitle {
            background-color: #363636;
            color: #e34d00;
            padding: 7px 14px;
            border-radius: 8px;
            font-size: 15px;
            display: inline;
          }

          .mainTitle {
            color: white;
            font-size: 50px;
            font-weight: 500;
            padding-top: 35px;
            padding-bottom: 35px;
          }

          .description {
            color: #c4c4c4;
            font-size: 16px;
            font-weight: 300;
            line-height: 30px;
          }

          .checkboxItems {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            padding-top: 5rem;
            padding-bottom: 7rem;
            column-gap: 30px;
            row-gap: 30px;
            border-bottom: 1px solid #707070;

            .checkboxItem {
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 9px 0;

              .checkboxImg {
                width: 13px;
                height: 13px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                background: #e34d00;

                img {
                  object-fit: cover;
                  height: auto;
                  max-width: 100%;
                }
              }

              .checkboxDesc {
                color: #c4c4c4;
                padding-left: 15px;
                width: calc(100% - 20px);
                font-weight: 300;
                font-size: 16px;
              }
            }
          }
        }

        .bottomContent {
          padding: 0 3rem;
          padding-bottom: 30px;

          .bottomContentTitle {
            color: white;
            font-size: 30px;
          }

          .bottomContentLogos {
            padding: 1.5rem 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .bottomContentLogo {
              padding: 1.5rem;
            }
          }

          .discoverBtn {
            margin-top: 1.5rem;

            .btn {
              color: white;
              background-color: #e34d00;
              border-radius: 8px;
              padding: 15px 25px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 990px) {
  #aboutUs {
    .container {
      flex-direction: column;
      flex-wrap: wrap;

      .aboutUsImg {
        width: 100%;

        img {
          width: 100%;
        }
      }

      .aboutUsText {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 404px) {
  #aboutUs {
    .container {
      flex-direction: column;

      .aboutUsImg {
        width: 100vw;
      }

      .aboutUsText {
        width: 100vw;
      }
    }
  }
}

#popularProducts {
  display: flex;
  flex-direction: column;
  padding: 100px 40px;

  .popularProductsTitleBox {
    align-self: baseline;

    .popularProductsTitle {
      font-size: 45px;
      font-weight: 600;
      margin-bottom: 30px;
    }

    .popularProductsInfo {
      line-height: 2em;
      margin-bottom: 30px;
    }
  }

  .productsBox {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 40px;
    row-gap: 40px;

    .product {
      cursor: pointer;
      width: 378px;
      height: 649px;
      display: flex;
      flex-direction: column;
      row-gap: 1.5em;

      .productImgBox {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100%;
        height: 80%;
        overflow: hidden;

        img {
          border-radius: 10px;
          width: 100%;
          height: 100%;
          transition: 0.4s;
        }

        .addButtons {
          opacity: 0;
          height: 80px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          width: 33px;
          position: absolute;
          top: calc(50% - 40px);
          right: 0;
          transition: 0.4s;

          .productBtn {
            position: relative;
            cursor: pointer;
            width: 33px;
            height: 33px;
            border-radius: 33px;
            border: 0px;
            background-color: #d40;
            transition: 0.3s;

            .description {
              opacity: 0;
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 8px;
              position: absolute;
              top: 0;
              left: -100px;
              width: 120px;
              height: 33px;
              background-color: #d40;
              transition: 0.4s;
            }

            &:hover .description {
              opacity: 1;
              left: -130px;
            }

            &:hover {
              background-color: #252525;
            }
          }
        }
      }

      .productTextBox {
        display: flex;
        flex-direction: column;
        column-gap: 2em;

        .productName {
          font-size: 25px;
          font-weight: 500;
          align-self: baseline;
          margin-bottom: 20px;
          transition: 0.4s;
        }

        .productPrice {
          font-size: 33px;
          font-weight: 500;
          padding-bottom: 50px;
        }
      }

      &:hover .productName {
        color: #d40;
      }

      &:hover .addButtons {
        right: 10%;
        opacity: 1;
      }

      &:hover img {
        transform: scale(1.2);
      }
    }
  }

  .viewAll {
    cursor: pointer;
    align-self: center;
    padding: 12px 35px;
    border-radius: 8px;
    border: 0px;
    background-color: #d40;
    transition: 0.4s;

    &:hover {
      background-color: #c30;
    }
  }
}

@media screen and (max-width: 1600px) {
  #popularProducts {
    display: flex;
    flex-direction: column;
    padding: 100px 40px;

    .productsBox {
      flex-wrap: wrap;
    }
  }
}

#aiProcess {
  background-color: #1d1c1c;
  padding-top: 110px;
  padding-bottom: 110px;
  .aiProcessContents {
    .aiProcessTitle {
      font-size: 25px;
      text-align: center;
      margin-bottom: 50px;

      h2 {
        color: white;

        span {
          color: #e34d00;
        }
      }
    }

    .aiProcessCards {
      margin-left: auto;
      margin-right: auto;
      display: flex;
      // flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      padding: 0 200px;

      .aiProcessCard {
        position: relative;
        width: 407.5px;
        text-align: center;
        padding: 1.5rem;
        overflow: hidden;
        display: flex;
        flex-direction: column;

        .cardImg {
          margin-bottom: 20px;

          img {
            width: 120px;
            height: 110px;
          }

          .lastImage {
            height: 110px;
            width: 95px;
          }
        }

        .cardInfo {
          margin-bottom: 20px;

          .cardName {
            color: white;
            font-size: 21px;
          }

          .count {
            color: #292828;
            position: absolute;
            opacity: 0.4;
            font-size: clamp(2rem, 0.5175rem + 5.4vw, 10rem);
            right: 60px;
            z-index: 1;
            bottom: 140px;
          }
        }

        .cardDesc {
          color: #c4c4c4;
          font-weight: 300;
          font-size: 15px;
          margin-bottom: 40px;
        }

        .readMoreArrow {
          overflow: hidden;
          display: flex;
          align-self: center;
          justify-content: center;
          width: 108px;

          .arrow {
            transition: 0.7s;
            transform: translateX(-82px);
            display: flex;
            gap: 10px;
            align-items: center;

            .readMore {
              color: white;
              text-decoration: none;
              display: inline-block;
              overflow: hidden;
            }

            .fa-arrow-right-long {
              color: white;
              transition: 0.5s;
              transform: rotate(-45deg);
            }
          }

          .arrow:hover {
            transform: translateX(0);

            .fa-arrow-right-long {
              transform: rotate(0deg);
              color: #e34d00;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 990px) {
  .aiProcessCards {
    flex-wrap: wrap;
  }
}
#pricingPlans {
  .container {
    background-image: url("https://dt-aimax.myshopify.com/cdn/shop/files/pricing-bg.png?v=1684333264");
    background-size: cover;

    .bannerContents {
      width: 100%;
      height: fit-content;

      .title {
        font-size: 32px;
        text-align: center;
        margin-bottom: 35px;
        padding-top: 140px;

        h3 {
          color: white;

          span {
            color: #e34d00;
          }
        }
      }

      .titleDesc {
        text-align: center;
        color: #c4c4c4;
      }

      .pricingCards {
        display: flex;
        padding: 50px 0;
        justify-content: center;
        align-items: center;
        column-gap: 120px;

        .pricingCard {
          background-color: black;
          border: 1px solid #e34d00;
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 400px;
          height: 880px;
          border-radius: 8px;

          .cardImg {
            img {
              height: 100%;
              width: 100%;
              max-height: 150px;
              max-width: 145px;
              margin-top: 2rem;
              margin-bottom: 2rem;
            }
          }

          .cardContent {
            text-align: center;

            .cardTitle {
              color: white;
              font-size: 40px;
              margin-bottom: 35px;
            }

            .cardDate::before {
              background-color: #c4c4c4;
              content: "";
              display: inline-block;
              height: 1px;
              width: 120px;
            }

            .cardDate {
              color: #c4c4c4;
              display: flex;
              align-items: center;
              column-gap: 20px;
            }

            .cardDate::after {
              background-color: #c4c4c4;
              content: "";
              display: inline-block;
              height: 1px;
              width: 120px;
            }

            .cardDesc {
              margin-bottom: 2rem;

              .pricingList {
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                align-items: flex-start;
                margin-top: 3rem;
                padding-left: 70px;

                .checkboxAndText {
                  align-items: center;
                  display: flex;
                  margin-bottom: 25px;

                  .descText {
                    .checkboxText {
                      font-size: 13px;
                    }
                  }
                }

                .text {
                  color: #c4c4c4;
                  margin-top: 30px;
                }
              }

              .cardDescCheckbox {
                width: 1.3rem;
                height: 1.3rem;
                padding: 0.35rem;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                background: #e34d00;
                margin-right: 15px;
              }

              .descText {
                color: white;
                font-size: 20px;
              }
            }
          }

          .cardBtn {
            background-color: #e34d00;
            margin-top: 30px;
            padding: 15px 0;
            border-radius: 10px;
            width: 80%;
            text-align: center;

            a {
              color: white;
            }
          }
        }

        .side {
          transition: 0.8s;

          &:hover {
            transform: translateY(30px);
          }
        }

        .middle {
          transition: 0.8s;

          // transform: translateY(70px);
          &:hover {
            transform: translateY(-15px);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .pricingCards {
    flex-direction: column;
  }
}

#videoSection {
  background-color: #161313;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  .video_popup {
    z-index: 2;
    position: absolute;
    flex-direction: column;
    left: 50%;
    transform: translate(-50%);
    border: 1px solid #ccc;
    padding: 20px 40px;
    background-color: #fff;
    border-radius: 4px;
    display: none;

    .video_exit {
      width: 20px;
      position: relative;
      left: 870px;
      bottom: 5px;

      .fa-xmark {
        font-size: 20px;
      }
    }
  }

  .videoSection_container {
    background-image: url(//dt-aimax.myshopify.com/cdn/shop/files/video-popup.jpg?v=1683629483&width=1100);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 900px;
    object-fit: cover;
    object-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: unset;

    .video_play_icon {
      display: flex;
      align-items: center;
      justify-content: center;

      .watch_more {
        transition: 0.5s;
        padding: 65px;
        border: 1px solid rgb(227 77 0);
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 50%;

        .fa-play {
          transition: 0.5s;
          font-size: 20px;
          color: white;
        }
      }

      .watch_more:hover {
        background-color: rgba(0, 0, 0);

        .fa-play {
          font-size: 20px;
          color: #9e9d9d;
        }
      }
    }
  }
}

#aiBlog {
  background-color: #161313;
  width: 100%;

  .aiBlog_container {
    padding: 100px 40px;

    .aiBlog_title {
      display: grid;
      gap: 30px;
      text-align: center;

      h2 {
        font-size: 48px;
        color: white;
      }

      p {
        color: #9e9d9d;
      }
    }

    .aiBlog_row {
      padding-top: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 30px;

      .aiBlog_col {
        background-color: #1d1c1c;
        width: 30%;
        height: 670px;
        border-radius: 10px;

        // display: flex;
        // flex-direction: column;
        // align-items: center;
        .aiBlog_img {
          overflow: hidden;
          width: 100%;
          border-radius: 10px;
          display: flex;

          span {
            opacity: 0;
            margin-top: 270px;
            margin-left: 50px;
            padding: 10px;
            background-color: rgb(227 77 0);
            border-radius: 10px;
            color: white;
            position: absolute;
            //   display: none;
            transition: 0.5s;
          }

          img {
            width: 100%;
            height: 300px;
            border-radius: 10px;
            transition: 2s;
          }
        }

        .card_content {
          margin: 40px;
          overflow: hidden;

          h4 {
            font-size: 25px;
            color: white;
            padding-bottom: 30px;
            transition: 0.4s;
          }

          .card_paragraph {
            font-size: 20px;
            color: #9e9d9d;
            padding-bottom: 50px;
          }

          .ReadMore {
            transition: 0.7s;
            width: 120px;
            transform: translateX(-90px);
            display: flex;
            gap: 20px;
            align-items: center;

            .link_readmore {
              text-decoration: none;
              color: white;
            }

            .fa-arrow-right-long {
              color: white;
              transition: 0.5s;
              transform: rotate(-45deg);
            }
          }

          .ReadMore:hover {
            .fa-arrow-right-long {
              transform: rotate(0);
              color: rgb(227 77 0);
            }

            transform: translateX(0);
          }
        }
      }

      .aiBlog_col:hover {
        img {
          transform: scale(1.3);
        }

        .card_content {
          h4 {
            color: rgb(227 77 0);
          }
        }
      }

      .aiBlog_col:hover span {
        opacity: 1;
        transform: translateY(-80%);
      }
    }
  }
}

#igGallery {
  // overflow-x:scroll;
  background-color: #161313;
  width: 100%;
  padding-top: 36px;

  .igGallery_container {
    width: 100%;
    display: flex;

    .igGallery_col_1 {
      background-image: url(https://dt-aimax.myshopify.com/cdn/shop/files/insta1_2ab87dae-a15b-41a2-8a48-7ba124786cfd.jpg?v=1684129861&width=1500);
      height: 350px;
      background-size: cover;
      background-repeat: no-repeat;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 25%;

      .ig_blur {
        opacity: 0;
        transition: 0.7s;
        margin-bottom: 20px;

        .fa-instagram {
          opacity: 0;
          z-index: 5;
          color: white;
          font-size: 40px;
        }
      }
    }

    .igGallery_col_1:hover {
      .ig_blur {
        opacity: 1;
        transform: translateY(20px);

        .fa-instagram {
          opacity: 1;
        }
      }
    }

    .ig_blur:hover {
      backdrop-filter: blur(10px);
      border-radius: 50%;
      padding: 30px;
    }

    .igGallery_col_2 {
      background-image: url(https://dt-aimax.myshopify.com/cdn/shop/files/insta2.jpg?v=1684129861&width=1500);
      background-size: cover;
      background-repeat: no-repeat;
      height: 350px;
      width: 25%;
      display: flex;
      align-items: center;
      justify-content: center;

      .ig_blur {
        transition: 0.7s;
        margin-bottom: 20px;

        .fa-instagram {
          opacity: 0;
          z-index: 5;
          color: white;
          font-size: 40px;
        }
      }
    }

    .igGallery_col_2:hover {
      .ig_blur {
        opacity: 1;
        transform: translateY(20px);

        .fa-instagram {
          opacity: 1;
        }
      }
    }

    .ig_blur:hover {
      backdrop-filter: blur(10px);
      border-radius: 50%;
      padding: 30px;
    }

    .igGallery_col_3 {
      background-image: url(https://dt-aimax.myshopify.com/cdn/shop/files/insta3.jpg?v=1684129862&width=1500);
      background-size: cover;
      background-repeat: no-repeat;
      height: 350px;
      width: 25%;
      display: flex;
      align-items: center;
      justify-content: center;

      .ig_blur {
        transition: 0.7s;
        margin-bottom: 20px;

        .fa-instagram {
          z-index: 5;
          color: white;
          font-size: 40px;
          opacity: 0;
        }
      }
    }

    .igGallery_col_3:hover {
      .ig_blur {
        opacity: 1;
        transform: translateY(20px);

        .fa-instagram {
          opacity: 1;
        }
      }
    }

    .ig_blur:hover {
      backdrop-filter: blur(10px);
      border-radius: 50%;
      padding: 30px;
    }

    .igGallery_col_4 {
      background-image: url(https://dt-aimax.myshopify.com/cdn/shop/files/insta4.jpg?v=1684129861&width=1500);
      background-size: cover;
      background-repeat: no-repeat;
      height: 350px;
      width: 25%;
      display: flex;
      align-items: center;
      justify-content: center;

      .ig_blur {
        transition: 0.7s;
        margin-bottom: 20px;

        .fa-instagram {
          z-index: 5;
          color: white;
          font-size: 40px;
          opacity: 0;
        }
      }
    }

    .igGallery_col_4:hover {
      .ig_blur {
        opacity: 1;
        transform: translateY(20px);

        .fa-instagram {
          opacity: 1;
        }
      }
    }

    .ig_blur:hover {
      backdrop-filter: blur(10px);
      border-radius: 50%;
      padding: 30px;
    }

    .igGallery_col_5 {
      background-image: url(https://dt-aimax.myshopify.com/cdn/shop/files/insta5.jpg?v=1684129861&width=1500);
      background-size: cover;
      background-repeat: no-repeat;
      height: 350px;
      width: 25%;
      display: flex;
      align-items: center;
      justify-content: center;

      .ig_blur {
        transition: 0.7s;
        margin-bottom: 20px;

        .fa-instagram {
          z-index: 5;
          color: white;
          font-size: 40px;

          opacity: 0;
        }
      }
    }

    .igGallery_col_5:hover {
      .ig_blur {
        opacity: 1;
        transform: translateY(20px);

        .fa-instagram {
          opacity: 1;
        }
      }
    }

    .ig_blur:hover {
      backdrop-filter: blur(10px);
      border-radius: 50%;
      padding: 30px;
    }
  }
}

@media screen and (max-width: 1447px) {
  .aiBlog_col {
    height: 700px !important;
    width: 399px !important;
  }
}

@media screen and (max-width: 1054px) {
  .aiBlog_col {
    height: 100% !important;
    width: 500px !important;
  }
}

@media screen and (max-width: 790px) {
  .aiBlog_col {
    width: 1200px !important;
  }
}

@media screen and (max-width: 958px) {
  #videoSection {
    .video_popup {
      .video_exit {
        width: 20px;
        position: relative;
        left: 510px;
        bottom: 5px;
      }

      .youtube_video {
        iframe {
          width: 500px;
          height: 400px;
        }
      }
    }
  }
}

@media screen and (max-width: 597px) {
  #videoSection {
    .video_popup {
      .video_exit {
        width: 20px;
        position: relative;
        left: 310px;
        bottom: 5px;
      }

      .youtube_video {
        iframe {
          width: 300px;
          height: 200px;
        }
      }
    }
  }
}

@media screen and (max-width: 397px) {
  #videoSection {
    .video_popup {
      .video_exit {
        width: 20px;
        position: relative;
        left: 210px;
        bottom: 5px;
      }

      .youtube_video {
        iframe {
          width: 200px;
          height: 200px;
        }
      }
    }
  }
}
